.schema-table{
	margin:20px auto;
}
.schema-table table{
	font-size: 14px;
	text-align: center;
}
.schema-table th{
	text-align: center;
}

span.selected{
	color:rgb(57, 163, 14);
}
span.sum.selected{
	color:#FF6100;
}